.characteristics-setup {
    margin-left: 200px;
    margin-right: 200px;
    line-height: 26px;

    .navigation {
        position: absolute;
        width: 725.6px;
        margin-top: -125px;
    }

    .stepper-progress {
        margin-top: 50px;
    }

    .radio-wrapper {
        margin-top: 55px;
        display: flex;
        justify-content: flex-start;
        justify-content: center;
    }

    .radio-title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: unset;
    }

    .sub-text {
        font-weight: 400;
        font-size: 14px;
        margin-top: -5px;
        margin-left: 32px;
        max-width: 419px;
    }

    .dropdown-wrapper {
        position: absolute;
        width: 100%;
        left: 0;
        margin-top: -500px
    }

}