
// breakpoints
$breakpoint-small: 550px;
$breakpoint-medium: 800px;
$breakpoint-large: 1000px;


// Colors
$main-blue: #007BC0;
$lighter-blue: #007BC0;
$lightest-blue: #0099CC;
$darker-blue: #007DB5;
$darkest-blue: #0A6FA0;
